:root{
    --primary-color: rgb(0, 137, 216);
    --secondary-color: rgb(255, 187, 0);
    --font-md-weight: 600;
    --backdrop-color: rgb(218, 218, 218);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    grid-template-areas: 
    'sidebar navbar'
    'sidebar wrapper'
    ;
}
aside{
    display: flex;
    flex-direction: column;
    gap: 3em;
    background-color: var(--primary-color);
    grid-area: sidebar;
    height: 100vh;
}

aside *{
    color: white;
    margin-left: 1.4em;

}

aside > ul > li{
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 9px;
    font-size: 1.5em;
}
nav{
    grid-area: navbar;
    box-shadow: 10px 0px 15px black;
    padding: 1.7rem 3rem;
    z-index: 1;
}
section{
    display: flex;
    justify-content: space-between;
}
form > input{
    max-width: 40rem;
    width: 100%;
    padding: .5rem;
    border-radius: 20px;
    border: none;
    background-color: var(--backdrop-color);
}
.nav-btn-wrapper{
    display: flex;
    align-items: center;
    gap: 2em;
}
.nav-btn{
    width: 7rem;
    border-radius: 30px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.2em;
    font-weight: var(--font-md-weight);
    padding: 10px;
}
.main-wrapper{
    grid-area: wrapper;
    background-color: var(--backdrop-color);
}